.user_container {
  position: absolute;
  aspect-ratio: 1;
  backdrop-filter: brightness(50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  border-radius: 100%;
  left: 1em;
}

// .populated-navbar {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%; /* 使导航栏占满整个宽度 */
//   background-color: #007bff; /* 你喜欢的背景颜色 */
//   color: #fff; /* 文本颜色 */
//   padding: 10px; /* 可根据需要调整间距 */
//   z-index: 100; /* 确保导航栏显示在其他内容之上 */
// }
